<!-- MAIN-CONTENT-INTERIOR - ITEM -->
<section id="rgi-item" class="grid-wrapper">
	<aside id="rgi-item-carousel-navigation">
		<div class="arrow"></div>
			<img class="" src="http://placehold.it/1000x1000"/>
  		<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
			<img class="" src="http://placehold.it/1000x1000"/>
		<div class="arrow"></div>
	</aside>
	<aside id="rgi-item-carousel">
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
		<img class="" src="http://placehold.it/1000x1000"/>
	</aside>
	<article id="rgi-item-details">
		<h6 id="category">h6 Shop / Items</h6>
		<h6 id="company">Raven Fine Art</h6>
		<h2 id="name">h2 This is the name of the item</h2>
		<h4 id="price">h4 $00.00<span>USD</span></h4>
		<h6 id="order-time">h6 Order in the next 0 hours to ship today</h6>
		<div class="button-gray">
			<button type="button">Add to cart</button>
		</div>
		<h6 id="service"><a href="">h6 Free shipping</a><span class="bullet">•</span><a href="">Free 30 day returns</a></h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
		<h4>Details</h4>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elitgravida leo massa.</li>
		</ul>
	</article>
</section>
