#color-palette .grid-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
  grid-row-gap: 15px;
}

#main-content-wrapper-full-width #color-palette .grid-item {
	margin: 0;
	padding: 15px;
	font-size: 1em;
	font-family: 'Antenna', 'Arial', sans-serif;
	color: #fff;
	height: 120px;
}

#main-content-wrapper-full-width #color-palette .grid-square-content {
  position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	margin: 0;
	padding: 0;
}

#color-palette .grid-square-content span {
	display: block;
	margin: 0;
	padding: 0 0 5px;
	width: 100%;
	font-family: $antenna;
	color: $white;
	font-size: .675em;
	line-height: 1.35;
	text-transform: uppercase;
//	@include media-breakpoint-down(sm) { font-size: .5em; }
}

#color-palette .grid-square-content span:nth-child(2) { position: absolute; bottom: 0; left: 0; padding: 0; }

/* END CSS */
