/* VARIABLES - BACKGROUND-COLOR */

/* WHITE - BACKGROUND */
.bg-white							{ background-color: $white; }

/* GOLD - BACKGROUND */
.bg-gold 							{ background-color: $gold; }
.bg-gold-dark 				{ background-color: $gold-dark; }
.bg.gold-extra-dark 	{ background-color: $gold-extra-dark; }
.bg.gold-light 				{ background-color: $gold-light; }

/* OVERLAY - BACKGROUND */
.bg-overlay { background-color: $bg-overlay; }
.bg-overlay-dark { background-color: $bg-overlay-dark; }
.bg-overlay-extra-dark { background-color: $bg-overlay-extra-dark; }
.bg-overlay-light { background-color: $bg-overlay-light; }
.bg-overlay-extra-light { background-color: $bg-overlay-extra-light; }

/* MAROON - BACKGROUND */
.maroon { background-color: $maroon; }
.maroon-dark { background-color: $maroon-dark; }
.maroon-extra-dark { background-color: $maroon-extra-dark; }
.maroon-light { background-color: $maroon-light; }
.maroon-extra-light { background-color: $maroon-extra-light; }

/* GOLD - BACKGROUND */
.gold	{ background-color: $gold; }
.gold-dark	{ background-color: $gold-dark; }
.gold-extra-dark	{ background-color: $gold-extra-dark; }
.gold-light	{ background-color: $gold-light; }

/* GRAY  - BACKGROUND */
.gray { background-color: $gray; }
.gray-dark { background-color: $gray-dark; }
.gray-extra-dark { background-color: $gray-extra-dark; }
.gray-light { background-color: $gray-light; }
.gray-extra-light { background-color: $gray-extra-light; }

/* LAKE - BACKGROUND */
.lake { background-color: $lake; }
.lake-dark { background-color: $lake-dark; }
.lake-extra-dark { background-color: $lake-extra-dark; }
.lake-light { background-color: $lake-light; }
.lake-extra-light { background-color: $lake-extra-light }

/* PATINA - BACKGROUND */
.patina { background-color: $patina; }
.patina-dark { background-color: $patina-dark; }
.patina-extra-dark { background-color: $patina-extra-dark; }
.patina-light { background-color: $patina-light; }
.patina-extra-light { background-color: $patina-extra-light; }

/* TERRACOTTA - BACKGROUND */
.terracotta { background-color: $terracotta; }
.terracotta-dark { background-color: $terracotta-dark; }
.terracotta-extra-dark { background-color: $terracotta-extra-dark; }
.terracotta-light { background-color: $terracotta-light; }
.terracotta-extra-light { background-color: $terracotta-extra-light; }

/* TAUPE - BACKGROUND */
.taupe { background-color: $taupe; }
.taupe-dark { background-color: $taupe-dark; }
.taupe-extra-dark { background-color: $taupe-extra-dark; }
.taupe-light { background-color: $taupe-light; }
.taupe-extra-light { background-color: $taupe-extra-light; }

/* VARIABLES - FONT COLOR */

/* MAROON - COLOR */
.text-maroon { color: $maroon; }
.text-maroon-dark { color: $maroon-dark; }
.text-maroon-extra-dark { color: $maroon-extra-dark; }
.text-maroon-light { color: $maroon-light; }
.text-maroon-extra-light { color: $maroon-extra-light; }

/* GOLD - COLOR */
.text-gold	{ color: $gold; }
.text-gold-dark	{ color: $gold-dark; }
.text-gold-extra-dark	{ color: $gold-extra-dark; }
.text-gold-light	{ color: $gold-light; }

/* GRAY - COLOR */
.text-gray { color: $gray; }
.text-gray-dark { color: $gray-dark; }
.text-gray-extra-dark { color: $gray-extra-dark; }
.text-gray-light { color: $gray-light; }
.text-gray-extra-light { color: $gray-extra-light; }

/* LAKE - COLOR */
.text-lake { color: $lake; }
.text-lake-dark { color: $lake-dark; }
.text-lake-extra-dark { color: $lake-extra-dark; }
.text-lake-light { color: $lake-light; }
.lake-extra-light { color: $lake-extra-light }

/* PATINA - COLOR */
.text-patina { color: $patina; }
.text-patina-dark { color: $patina-dark; }
.text-patina-extra-dark { color: $patina-extra-dark; }
.text-patina-light { color: $patina-light; }
.text-patina-extra-light { color: $patina-extra-light; }

/* TERRACOTTA - COLOR */
.text-terracotta { color: $terracotta; }
.text-terracotta-dark { color: $terracotta-dark; }
.text-terracotta-extra-dark { color: $terracotta-extra-dark; }
.text-terracotta-light { color: $terracotta-light; }
.text-terracotta-extra-light { color: $terracotta-extra-light; }

/* TAUPE - COLOR */
.text-taupe { color: $taupe; }
.text-taupe-dark { color: $taupe-dark; }
.text-taupe-extra-dark { color: $taupe-extra-dark; }
.text-taupe-light { color: $taupe-light; }
.text-taupe-extra-light { color: $taupe-extra-light; }

/* END - COLOR */
