/* general */

a {
  transition: color .3s ease-in-out;
}

.container-fluid {
  position: relative;
  background: $gray-extra-light;
  z-index: 1;
}

img {
  display: block;
}

hr {
  display: block;
  margin: 1.5em 0;
  border: 1px solid darken($gray-light, 10%);
  width: 100%;
  height: 1px;
}

#content-number.grid-wrapper,
#content-cards.grid-wrapper {
  background: none;
}

#content-cards.grid-wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
  @include phone-landscape {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

#content-cards .card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content-cards .card-content {
  padding: 2.5em;
  height: 100%;
  h4 {
    @include phone-landscape {
      font-size: 1.85em;
      line-height: 1.3em;
    }
  }
  @include phone-landscape {
    padding: 1.5em;
    height: auto;
  }
}

.content-panel-label {
  padding: 20px 0;
  color: $gray;
  background: $gray-extra-dark;
  h6 {
    margin: 0;
    text-align: center;
  }
}

/* image-caption */

#content-image-caption img {
  display: block;
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

#content-image-caption .container-fluid {
  padding: 20px 0 20px;
  background: $gray-dark;
}

#content-image-caption p {
  margin: 0;
  font-size: 1em !important;
  color: $gray-light;
}

/* image-overlay */

#content-image-overlay {
  position: relative;
}

#content-image-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 150%;
  background-color: $bg-overlay-dark;
  @include tablet-portrait {
    position: relative;
    padding: 60px;
    font-size: 100%;
    background-color: $bg-overlay-extra-dark;
  }
}

.overlay h1,
.overlay h2,
.overlay h3,
.overlay h4,
.overlay h5,
.overlay h6,
.overlay blockquote,
.overlay cite,
.overlay p {
  color: $gray-light;
}

/* image-text */

#content-image-text {
  min-height: 750px;
  height: 750px;
  max-height: 750px;
  @include tablet-portrait {
    height: auto;
    min-height: auto;
    max-height: 2500px;
  }
}

#eventOne,
#evenTwo,
#eventThree,
#eventFour,
#content-image-text.grid-wrapper {
  @include tablet-portrait {
    display: block;
  }
}

#content-image-text-image.grid-item {
  position: relative;
  overflow: hidden;
  @include tablet-portrait {
    z-index: -1;
  }
}

#content-image-text-image.grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
  @include tablet-landscape {
    left: 30%;
  }
  @include tablet-portrait {
    left: 30%;
  }
  @include tablet-portrait {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0%, 0%);
  }
}

#content-image-text-text.grid-item {
  padding: 60px;
  @include tablet-portrait {
    margin-top: -10px;
  }
  @include tablet-portrait {
    padding: 40px 20px;
  }
}

#content-image-text-text p:last-child {
  margin: 0;
}

#content-image-text-text a {
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  @include phone-portrait {
    font-size: .85em;
  }
}

#content-image-text-text h5 a {
  font-size: .925em;
}

/* blockquote */

#content-blockquote {
  font-size: 125%;
}

#content-blockquote blockquote {
  margin: 0 0 10px 0;
  width: 100%;
}

#content-blockquote cite {
  margin: 0;
  width: 100%;
}

/* cards */

#content-cards {
  img {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.card {
	background: $gray-extra-light;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card-content {
	padding: 1.4em;
  background: $gray-light;
}

/* events-news */

#content-events-news.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: .5em;
  align-items: stretch;
  background-color: none;
}

#content-events-news h3,
#content-cards-wrapper h3 {
  margin: 0 0 .75em 0;
  font-size: 2.25em;
}

.item-event-headline{
  grid-column:: 1/12;
  grid-row: 1;
}
.item-event-one {
  grid-column:: 1/6;
  grid-row: 2;
}
.item-event-one hr:last-of-type {
  display: none;
  @include tablet-portrait {
    display: block;
  }
}
.item-event-two {
  grid-column:: 7/12;
  grid-row: 2;
  @include tablet-portrait {
    grid-row: 3;
  }
}
.item-events-full-calendar {
  grid-column:: 1/12;
  grid-row: 3;
  @include tablet-portrait {
    grid-row: 4;
  }
}
.item-divider {
  grid-column:: 12/14;
  grid-row: 1/4;
  margin: 0 auto;
  padding: 0;
  width: 1px;
  background: darken($gray-light, 15%);
  @include tablet-portrait {
    grid-column:: 1/25;
    grid-row: 5;
    margin: 30px 0;
    width: 100%;
    height: 2px;
  }
}
.item-news-headline {
  grid-column:: 14/24;
  grid-row: 1;
  @include tablet-portrait {
    grid-row: 6;
  }
}
.item-news {
  grid-column:: 14/24;
  grid-row: 2;
  @include tablet-portrait {
    grid-row: 7;
  }
};
.item-event-headline,
.item-event-one,
.item-event-two,
.item-events-full-calendar,
.item-divider,
.item-news-headline,
.item-news {
  @include tablet-portrait {
    grid-column:: 1/25;
  }
}

/* event */

.event a {
  width: 100%;
  text-decoration: none;
}
.event-box {
  grid-column: 1/5;
  @include tablet-portrait {
    grid-column:: 1/3;
  }
  @include phone-landscape {
    grid-column:: 1/4;
  }
}
.event-headline {
  grid-column: 5/-1;
  a { color: $gray-extra-dark; }
  @include tablet-portrait {
    grid-column:: 3/-1;
  }
  @include phone-landscape {
    grid-column:: 4/-1;
  }
}
.event-day, .event-date {
  margin: 0;
  padding: .5rem;
  font-family: 'antenna black', sans-serif;
  background: $gray-light;
}
.event-day {
  background: maroon;
  border-radius: 6px 6px 0 0;
}
.event-day p, .event-date p {
  margin: 0;
  padding: 0;
  font-family: 'Antenna Black', sans-serif;
  font-size: .85em;
  line-height: 1.25;
  color: $gray-dark;
  text-align: center;
  text-transform: uppercase;
}
.event-day p {
  color: $gray-light;
}

/* news */

#content-events-news p {
  margin: 0;
}

/* side-by-side scroll */

#content-side-by-side-scroll .item:first-of-type { width: 90%; }

.item {
  width: 50%;
  margin-top: 30%;
  padding: 100px;
  color: #272727;
  height: 100vh;
}
.item span {
  display: block;
  font-size: 1rem;
}
.item--main {
  width: 100%;
  background-image: url("/images/150-site-logo.svg");
  z-index: -1;
}
.item--main, .item--first, .item--second, .item--third {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item--first { background-image: url("../images/scroll-mlk-001.jpg"); }
.item--second { background-image: url("../images/scroll-image-02.jpg"); }
.item--third { background-image: url("../images/scroll-image-03.jpg"); }

/* parallax */

body { overflow-x: hidden; }

#content-parallax {
  position: fixed;
  top: 100px;
  padding-top: 56.6%;
  width: 100%;
  height: 100%;
  background-image: url('/images/loyola-university-proposed-lake-shore-campus.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -10;
}

@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

.item-parallax {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.item {
  width: 200px;
  margin: 50px auto;
  max-height: 250px;
  padding: 75px 20px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;

span {
    display: block;
    font-size: 1rem;
  }

  &--primary {
    @include center-v;
    right: 20px;
    background: green;
  }

  &--secondary {
    @include center-v;
    left: 20px;
    background: red;
  }
}

/* intro */

#content-intro h1 {
  font-size: 3.5em;
  margin-bottom: 1em;
}

#content-intro p {
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  line-height: 2;
  font-family: 'Antenna', sans-serif;
}

/* list-display */

#content-list-display .list-display-container {
  padding: 1.25em 0;
}

#content-list-display h6 {
  font-family: 'Antenna Bold', sans-serif;
  color: $gold-light;
}

#content-list-display p {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-family: 'Antenna Bold', sans-serif;
}

#content-list-display p a {
  display: block;
  width: 100%;
  color: $gold-dark;
  text-decoration: none;
}

#content-list-display p a:hover {
  color: lighten($gold-dark,10%);
}

#content-list-display.list-display-menu {
  position: absolute;
  top: calc(60px + 3rem);
  left: calc(0% + 60px);
  width: 20%;
  font-size: .275em;
  text-transform: uppercase;
  @include tablet-portrait {
    top: calc(0% + 40px);
    left: calc(0% + 20px);
    width: 60%;
    font-size: .275em;
  }
  @include phone-portrait {
    width: 50%;
  }
}

#content-list-display.list-display-menu .list-display-container {
  padding: .5em 0;
}

#content-list-display.list-display-menu h5 {
  padding-right: 1.5rem;
  font-size: 1rem;
  text-align: left;
  color: $gold;
}

#content-list-display.list-display-menu p {
  font-size: 1rem;
  text-align: left;
  @include phone-portrait {
    font-size: .925rem;
  }
}

/* refer */

#content-refer {
  color: $gray-light;
  background-color: lighten($bg-overlay-extra-dark, 5%);
  a {
    color: $gold;
  }
}
#content-refer h3,
#content-refer p,
#content-refer a {
  font-size: 2em;
  @include tablet-portrait {
    font-size: 1.35em;
  }
}

#content-refer a {
  font-size: 1.5em;
}

/* END - CSS */
