/* navigation */

nav {
  width: 100%;
  height: auto;
  font-family: 'Antenna', sans-serif;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: .75em;
    letter-spacing: .025em;
    text-decoration: none;
    list-style: none;
    border-right: solid 1px $gray-dark;
    &:first-of-type {
      border-left: solid 1px $gray-dark;
    }
    a {
      display: block;
      padding: 22px 20px 8px;
      color: $gray-light;
      width: auto;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      transition: background-color .3s;
      &:hover {
        color: $white;
        background-color: lighten($gray-dark, 5%);
      }
    }
  }
}
/*
nav > ul li ul { display: none; }

nav > ul li:hover ul { display: block;}
*/

/* navigation - dropdown - button */

.dropdown-button {
  font-family: 'Antenna', sans-serif;
  color: $gray-light;
  padding: 22px 20px 8px;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  background-color: lighten($gray-dark, 15%);
  transition: background-color .3s;
    &:hover {
      background-color: lighten($gray-dark, 5%);
    }
    &:focus {
      outline: none;
    }
  }

/* navigation - background - catch all */

.dropdown,
header nav li a,
header nav > .active > a,
header nav > .active > a:focus,
header nav > .active > a:hover,
header nav > ul li a,
header ul .dropdown,
header li .dropdown {
  background-color: lighten($gray-dark, 15%);
    a {
      &:hover {
        background-color: lighten($gray-dark, 5%);
      }
    }
  }

/* navigation - dropdown - content */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $gray-extra-light;
  min-width: 200px;
  font-size: 1em;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.35);
  transition: .2s;
  z-index: 1;
}

.dropdown-content a {
  margin: 0;
  padding: 18px 20px 16px;
  font-size: 1.05em;
  color: $gray-light;
  text-transform: none;
  text-decoration: none;
  border-top: solid 1px $gray-dark;
  border-left: 0;
  border-radius: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#information-navigation .dropdown-content,
#search-navigation .dropdown-content {
  right: 0;
}

/* specific navigations */

#main-navigation {
  width: 100%;
  max-width: 100%;
}

#site-navigation {
  float: left;
}

#engagement-navigation {
  float: right;
  display: block;
}

#cta-navigation {
  border: none;
}

#cta-navigation ul {
  display: block;
}

#cta-navigation li {
  font-size: 1em;
}

#information-navigation,
#search-navigation {
  position: relative;
  width: 45px;
  height: 45px;
    &:hover {
      background: $gray-dark;
    }
    a, button {
      display: block;
      position: relative;
      top: 20%;
      left: 20%;
      margin: 0;
      padding: 10%;
      width: 60%;
      height: 60%;
      font-size: 1.25em;
      background: $gray;
      text-align: center;
      text-transform: none;
      border-radius: 50%;
      &:hover {
      background: $gray-dark;
    }
  }
}

#information-navigation > .dropdown-content,
#search-navigation > .dropdown-content {
  top: 45px;
}

#luc-header li#luc-information,
#luc-header li#luc-search a,
#luc-header li#luc-search {
  transition: background-color .2s;
  &:hover {
    background-color: lighten($gray-dark, 15%) !important;
  }
}

#luc-search.dropdown.open ul#drop {
  background: $bg-overlay-extra-dark;
}

/* header navigation - first-level - cta > info + cta > search */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
}

/* header navigation - first-level - position */

#luc-cta li#luc-information, #luc-cta li#luc-search {
  position: relative;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 50px;
}

/* header navigation - first-level - cta */

#luc-cta {
  float: right;
  ul {
    margin: 0;
  }
}

#luc-cta li {
  float: left;
  width: 70px;
  padding: 0%;
  border-left: solid 1px $gray-dark;
  border-right: none;
  a {
    box-sizing: border-box;
    padding: 22px 10px 8px;
    width: 100%;
    font-family: 'Antenna', sans-serif;
    letter-spacing: .025em;
    text-align: center;
    text-transform: uppercase;
  }
}

/* header navigation - first-level - cta > search */

#luc-search.dropdown.open ul#drop {
  margin-bottom: 0;
  height: 100vh;
  z-index: 10000;
}

#luc-cta li#luc-search a {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  -webkit-text-stroke: 2px lighten($bg-overlay, 48%);
  line-height: 0;
  color: $white;
  border-left: none;
}

#luc-search > a > span:hover { background: none; }

#luc-search > a > span:first-of-type { border: none !important; }

#luc-search #drop form .form-group:focus,
#luc-search #drop form .form-group:active,
#luc-search #drop form .form-group input {
  background: none;
  box-shadow: none;
}

#luc-search #drop form .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

#luc-search #drop form .form-group,
#luc-search #drop form .form-group:hover {
  background-color: lighten($gray, 20%);
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}

#luc-header li#luc-search button.btn {
  color: $gray-light;
  border-color: $maroon-extra-dark;
  background-color: $maroon-extra-dark;
  transition: background .2s;
    &:hover {
      color: darken($gray-light, 10%);
      border-color: darken($maroon-extra-dark, 10%);
      background-color: darken($maroon-extra-dark, 10%);
    }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 0 none !important;
  outline: none !important;
  outline-color: none !important;
  box-shadow: none !important;
}

#luc-header li#luc-search a {
/*  margin: auto auto;
  padding: 0;*/
  width: 100%;
  height: 100%;
}

#luc-header li#luc-search a img {
  margin: 23%;
  padding:10%;
  width: 50%;
  height: 50%;
  border: 0;
  border: none;
  border-radius: 50%;
}

#luc-cta li#luc-information a,
#luc-header li#luc-search a img {
  background: lighten($gray-extra-dark, 20%);
}
