<!-- PARALLAX =========================
======================================-->

<!-- parallax -->
	<section class="container-fluid">
		<div id="content-parallax"></div>
		<div class="item item--secondary"
     data-aos="fade-right"
		 data-aos-duration="1000"
		 data-aos-easing="ease-in-out"
     data-aos-anchor="#trigger-left"
     data-aos-anchor-placement="top-center">
		 	LEFT
  		<span>when bottom of <strong>2</strong> hits center of window</span>
		</div>
		<div class="item item--primary"
     data-aos="fade-left"
		 data-aos-duration="1000"
		 data-aos-easing="ease-in-out"
     data-aos-anchor="#trigger-right"
     data-aos-anchor-placement="bottom-bottom">
		 	RIGHT
  		<span>when top of <strong>5</strong> hits bottom of window</span>
		</div>
		<div class="item-parallax">01</div>
		<div id="trigger-left" class="item-parallax">02 LEFT</div>
		<div class="item-parallax"
			data-aos="fade-up"
			data-aos-offset="100"
			data-aos-duration="2000">
			03 FADE
		</div>
		<div class="item-parallax"
			data-aos="fade-up"
			data-aos-offset="100"
			data-aos-duration="2000">
			04 FADE
		</div>
		<div class="item-parallax">04</div>
		<div id="trigger-right" class="item-parallax">05 RIGHT</div>
	</section>
<!--
	data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-anchor-placement="top-center"
	-->
