<!-- IMAGE - TEXT =======================
======================================-->

<!-- image-text -->
	<section class="container-fluid">
		<div id="content-image-text" class="grid-wrapper grid-wrapper-no-gap">
			<div id="content-image-text-image" class="grid-item col-span-6">
				<img src="http://via.placeholder.com/1000x1000"/>
			</div>
  		<div id="content-image-text-text" class="grid-item col-span-6">
				<h3>Headline lorem ipsum hereum</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<hr></hr>
				<footnote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</footnote>
			</div>
  	</div>
	</section>
