<!-- NUMBERS ============================
======================================-->

<!-- numbers -->
	<section class="container-fluid">
		<div class="container">
			<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>
				<div id="content-number" class="grid-wrapper">
					<div class="col-span-4 number-md">
						<h2>010</h2>
						<span>Readout number description</span>
					</div>
					<div class="col-span-4 number-md">
						<h2>010</h2>
						<span>Readout number description</span>
					</div>
					<div class="col-span-4 number-md">
						<h2>010</h2>
						<span>Readout number description</span>
					</div>
				</div>
			<div class="padding-lg" style="padding-left: 0; padding-right: 0;"></div>
		</div>
	</section>
