<!-- IMAGE - OVERLAY ====================
======================================-->

<!-- image-overlay -->
	<section class="container-fluid">
		<div id="content-image-overlay">
			<div id="content-lead">
				<img src="http://via.placeholder.com/1800x1000"/>
			</div>
			<div class="overlay">
<!-- blockquote -->
				<blockquote>
					“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.”
				</blockquote>
				<cite>
					“Lorem ipsum unum hereum.”
				</cite>
			</div>
		</div>
	</section>
