<!-- TEXT ===============================
======================================-->

<!-- text -->
	<section class="container-fluid">
		<div class="container">
			<div class="padding-lg" style="padding-left: 0; padding-right: 0;"></div>
				<div id="content-text">
					<h4>Subhead here lorem ipsum unum</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			<div class="padding-sm" style="padding-left: 0; padding-right: 0;"></div>
		</div>
	</section>
