<!-- BLOCKQUOTE =========================
======================================-->

<!-- blockquote -->
	<section class="container-fluid">
		<div class="container">
			<div class="padding-lg" style="padding-left: 0; padding-right: 0;"></div>
				<div id="content-blockquote">
					<blockquote>
						“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.”
					</blockquote>
					<cite>
						“Lorem ipsum unum hereum.”
					</cite>
				</div>
			<div class="padding-lg" style="padding-left: 0; padding-right: 0;"></div>
		</div>
	</section>
