<!-- MODULE - GRID ======================
======================================-->

<!-- module-grid -->
  <section>
    <div id="module-grid" class="container-fluid" style="padding-left: 0; padding-right: 0; width: 100%; background: none;">
      <div class="container" style="padding-left: 0; padding-right: 0; background: none;">
        <div class="divider-sm"></div>
          <div class="content-columns-varied four-column-build"><!-- four-column-build -->
            <div class="grid-wrapper">
              <div class="grid-item col-flex card">
                <h6>Label here</h6>
                <img src="http://placehold.it/1000x560"/>
                <div class="number-md">
                  <h2>0000</h2>
                  <h6>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</h6>
                </div>
                <h4>Label headline is used here lorem</h4>
                <p>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</p>
                <a href="###">CTA here here</a>
                <div class="grid-item col-flex button-maroon">
                  <button type="button">This is the button style</button>
                </div>
              </div>
              <div class="grid-item col-flex card">
                <h6>Label here</h6>
                <img src="http://placehold.it/1000x560"/>
                <div class="number-md">
                  <h2>0000</h2>
                  <h6>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</h6>
                </div>
                <h4>Label headline is used here lorem</h4>
                <p>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</p>
                <a href="###">CTA here here</a>
                <div class="grid-item col-flex button-maroon">
                  <button type="button">This is the button style</button>
                </div>
              </div>
              <div class="grid-item col-flex card">
                <h6>Label here</h6>
                <img src="http://placehold.it/1000x560"/>
                <div class="number-md">
                  <h2>0000</h2>
                  <h6>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</h6>
                </div>
                <h4>Label headline is used here lorem</h4>
                <p>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</p>
                <a href="###">CTA here here</a>
                <div class="grid-item col-flex button-patina">
                  <button type="button">This is the button style</button>
                </div>
              </div>
              <div class="grid-item col-flex card">
                <h6>Label here</h6>
                <img src="http://placehold.it/1000x560"/>
                <div class="number-md">
                  <h2>0000</h2>
                  <h6>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</h6>
                </div>
                <h4>Label headline is used here lorem</h4>
                <p>Readout donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</p>
                <a href="###">CTA here here</a>
                <div class="grid-item col-flex button-gold">
                  <button type="button">This is the button style</button>
                </div>
              </div>
            </div>
          </div>
        <div class="divider-sm"></div>
      </div>
    </div>
  </section>
