<!-- EVENTS - NEWS ======================
======================================-->

<!-- events - news -->
	<section class="container-fluid">
		<div class="container">
			<div class="padding-md" style="padding-left: 0; padding-right: 0;"></div>
				<div id="content-events-news" class="grid-wrapper">
					<div class="item-event-headline">
						<h3>Events</h3>
					</div>
			    <div class="item-event-one">
			      <div class="event-container">
			        <span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
			        <span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
			        <div class="event grid-wrapper">
								<a href="###" class="event-box">
									<div class="event-day">
										<p>Day</p>
									</div>
									<div class="event-date">
										<p>Date 00</p>
									</div>
								</a>
			          <div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
			            <h4>
			              <a href="###">
			                Event headline here
			              </a>
			            </h4>
			          </div>
			        </div>
			      </div>
						<hr>
						<div class="event-container">
			        <span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
			        <span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
			        <div class="event grid-wrapper">
								<a href="###" class="event-box">
									<div class="event-day">
										<p>Day</p>
									</div>
									<div class="event-date">
										<p>Date 00</p>
									</div>
								</a>
			          <div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
			            <h4>
			              <a href="###">
			                Event headline here
			              </a>
			            </h4>
			          </div>
			        </div>
			      </div>
						<hr>
						<div class="event-container">
			        <span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
			        <span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
			        <div class="event grid-wrapper">
								<a href="###" class="event-box">
									<div class="event-day">
										<p>Day</p>
									</div>
									<div class="event-date">
										<p>Date 00</p>
									</div>
								</a>
			          <div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
			            <h4>
			              <a href="###">
			                Event headline here
			              </a>
			            </h4>
			          </div>
			        </div>
			      </div>
						<hr>
			    </div>
			    <div class="item-event-two">
			      <div class="event-container">
			        <span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
			        <span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
							<div class="event grid-wrapper">
			          <a href="###" class="event-box">
			          	<div class="event-day">
			            	<p>Day</p>
			            </div>
			            <div class="event-date">
			              <p>Date 00</p>
			            </div>
			          </a>
			          <div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
			            <h4>
			              <a href="###">
			                Event headline here
			              </a>
			            </h4>
			          </div>
			        </div>
			      </div>
						<hr>
						<div class="event-container">
			        <span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
			        <span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
							<div class="event grid-wrapper">
			          <a href="###" class="event-box">
			          	<div class="event-day">
			            	<p>Day</p>
			            </div>
			            <div class="event-date">
			              <p>Date 00</p>
			            </div>
			          </a>
			          <div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
			            <h4>
			              <a href="###">
			                Event headline here
			              </a>
			            </h4>
			          </div>
			        </div>
			      </div>
						<hr>
						<div class="event-container">
							<span class="calendar-ts-start" style="display:none;">{ts '2019-12-05 18:00:00'}</span>
							<span class="calendar-ts-end" style="display:none;">{ts '2019-12-05 20:30:00'}</span>
							<div class="event grid-wrapper">
								<a href="###" class="event-box">
									<div class="event-day">
										<p>Day</p>
									</div>
									<div class="event-date">
										<p>Date 00</p>
									</div>
								</a>
								<div class="event-headline">
									<h6>0:00pm - 0:00pm</h6>
									<h4>
										<a href="###">
											Event headline here
										</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="item-events-full-calendar">
						<hr></hr>
						<h5><a href="###">View full 150th calendar</a></h5>
					</div>
					<div class="item-divider"></div>
					<div class="item-news-headline">
						<h3>News</h3>
					</div>
					<div class="item-news">
						<div class="col-span-12">
							<h6>Context label here</h6>
				      <h4>Headline here</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa.</p>
						</div>
						<hr class="col-span-12">
						<div class="col-span-12">
							<h6>Context label here</h6>
							<h4>Headline here</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa.</p>
						</div>
						<hr class="col-span-12">
						<div class="col-span-12">
							<h6>Context label here</h6>
							<h4>Headline here</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa.</p>
						</div>
					</div>
				</div>
			<div class="padding-md" style="padding-left: 0; padding-right: 0;"></div>
		</div>
	</section>
