<!-- AUDIENCE - DIRECTORY - HEADER -->
<nav id="audience-directory">
  <div class="container-fluid">
    <nav aria-label="Loyola University Chicago information">
      <ul
        id="audience-nav"
        role="menubar"
        aria-label="Loyola University Chicago information">
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="0">
            Prospective students
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Current students
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Alumni
          </a>
        </li>
      </ul>
      <ul
        id="directory-nav"
        role="menubar"
        aria-label="Loyola University Chicago directory">
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            A-Z
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Contact
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Directory
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Locus
          </a>
        </li>
        <li role="none" class="category small">
          <a role="menuitem"
            href="https://www.luc.edu/"
            tabindex="-1">
            Support LUC
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('audience-nav'));
  menubar.init();
</script>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('directory-nav'));
  menubar.init();
</script>
