<div id="main-content">
	<div id="container">
		<style>
			main h2 {
				margin: 0 0 30px 0;
			}
			main ul li {
				margin: 20px 0;
				font-weight: 700;
				list-style: none;
				text-transform: uppercase;
			}
			main ul li a {
				text-decoration: none !important;
			}
			#container {
				margin: 50px auto;
				width: 70%;
			}
			#container > div > ul > ul > li,
			#container > div > ul > ul > li a {
				color: red !important;
				cursor: default;
			}
		</style>
		<div>
			<h2>Page Templates</h2>
			<ul>
				<li><a href="framework.html">Framework</a></li>
				<li><a href="item.html">Item</a></li>
			</ul>
		</div>
	</div>
</div>
