<!-- menu -->
<nav class="menu" id="site-navigation" role="navigation" aria-label="main menu">
  <ul class="nav level-1 list-reset" role="menubar" aria-hidden="false">
    <li class="has-subnav" role="menuitem" aria-haspopup="true">
      <a href="https://www.luc.edu">Navigation one</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="https://www.luc.edu">Navigation two</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="https://www.luc.edu">Navigation three</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
    <li role="menuitem" aria-haspopup="true">
      <a href="###">Navigation four</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="###" tabindex="-1">Link here one</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here two</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here three</a></li>
        <li role="menuitem"><a href="###" tabindex="-1">Link here four</a></li>
      </ul>
    </li>
  </ul>
<!-- cta -->
  <ul id="cta-navigation" class="nav level-1 list-reset" role="menubar" aria-hidden="false">
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Apply</a>
    </li>
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Info</a>
    </li>
    <li role="menuitem" aria-haspopup="false">
      <a href="###">Visit</a>
    </li>
    <li id="information" role="menuitem">
      <button id="information-button" href="###" tabindex="-1"><span>i</span></button>
        <ul id="information-menu">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
    </li>
    <li id="search" role="menuitem" aria-haspopup="false">
      <button id="search-open" class="btn" onclick="openSearch()" tabindex="-1"><span>?</span></button>
        <div id="search-overlay" class="overlay">
          <div class="container">
            <span id="search-close" onclick="closeSearch()" title="Close Overlay">×</span>
            <form class="form-group" role="search">
              <input id="global-search-input" type="search" class="search-input" placeholder="Search LUC.EDU" name="search">
              <button id="gloabal-search-submit" type="submit">Search</button>
            </form>
          </div>
        </div>
    </li>
  </ul>
</nav>
<nav class="menu" id="site-navigation-mobile" role="navigation" aria-label="main menu">
  <button type="button">
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
  </button>
</nav>

<!-- ADD CTA NAV HERE -->
