<!-- menu -->
<nav id="main" aria-label="Loyola University Chicago">
  <!-- site menu -->
  <ul id="site-nav"
      role="menubar"
      aria-label="Loyola University Chicago">
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="0">
        Navigation one
      </a>
      <ul role="menu" aria-label="NavigationOne">
        <li role="none">
          <a role="menuitem"
             href="#NavigationOneLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationOneLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a id="menubar113"
             role="menuitem"
             href="#"
             aria-haspopup="true"
             aria-expanded="false"
             tabindex="-1">
            Link three
          </a>
          <ul role="menu" aria-label="NavigationOneLinkThree">
            <li role="none">
              <a role="menuitem"
                 href="#linkthree"
                 tabindex="-1">
                Link three - link one
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="#linkthree"
                 tabindex="-1">
                Link three - link two
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="#linkthree"
                 tabindex="-1">
                Link three - link three
              </a>
            </li>
          </ul>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#"
             aria-haspopup="true"
             aria-expanded="false"
             tabindex="-1">
            Link four
          </a>
          <ul role="menu" aria-label="NavigationOneLinkFour">
            <li role="none">
              <a role="menuitem"
                 href="#linkfour"
                 tabindex="-1">
                Link four - link one
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="#linkfour"
                 tabindex="-1">
                Link four - link two
              </a>
            </li>
            <li role="none">
              <a role="menuitem"
                 href="#linkfour"
                 tabindex="-1">
                Link four - link three
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="-1">
        Navigation two
      </a>
      <ul role="menu" aria-label="NavigationTwo">
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkThree"
             tabindex="-1">
            Link three
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkFour"
             tabindex="-1">
            Link four
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkFive"
             tabindex="-1">
            Link five
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationTwoLinkSix"
             tabindex="-1">
            Link six
          </a>
        </li>
      </ul>
    </li>
    <li role="none">
      <a role="menuitem"
         aria-haspopup="true"
         aria-expanded="false"
         href="#"
         tabindex="-1">
        Navigation three
      </a>
      <ul role="menu" aria-label="NavigationThree">
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkOne"
             tabindex="-1">
            Link one
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkTwo"
             tabindex="-1">
            Link two
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkThree"
             tabindex="-1">
            Link three
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkFour"
             tabindex="-1">
            Link four
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkFive"
             tabindex="-1">
            Link five
          </a>
        </li>
        <li role="none">
          <a role="menuitem"
             href="#NavigationThreeLinkSix"
             tabindex="-1">
            Link six
          </a>
        </li>
      </ul>
    </li>
  </ul>
<!-- cta menu -->
  <ul id="cta-nav"
    role="menubar"
    aria-label="Loyola University Chicago Information">
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="0">
        Apply
      </a>
    </li>
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="-1">
        Info
      </a>
    </li>
    <li role="none">
      <a role="menuitem"
        href="#"
        tabindex="-1">
        Visit
      </a>
    </li>
    <li id="information" role="none">
      <a id="information-button"
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
        tabindex="-1">
        <span>i</span>
      </a>
        <ul id="information-nav" role="menu" aria-label="Information">
          <li role="none">
            <a role="menuitem"
              href="mb-about.html#InformationLinkOne"
              tabindex="-1">
              Link one
            </a>
          </li>
          <li role="none">
            <a role="menuitem"
              href="mb-about.html#InformationLinkTwo"
              tabindex="-1">
              Link two
            </a>
          </li>
        </ul>
    </li>
    <li id="search" role="none">
      <a id="search-button"
        role="menuitem"
        aria-controls="search-overlay-wrapper"
        aria-haspopup="true"
        aria-expanded="false"
        href="#"
        tabindex="-1">
        <i class="fa fa-search"></i>
      </a>
    </li>
  </ul>
</nav>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('site-nav'));
  menubar.init();
</script>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('cta-nav'));
  menubar.init();
</script>
