    <!-- facebook -->
    <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-facebook"></i></a>
    <!-- twitter -->
    <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-twitter"></i></a>
    <!-- linkedin -->
    <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-linkedin"></i></a>
    <!-- youtube -->
    <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-youtube"></i></a>
    <!-- contact -->
  	<a target="_blank" href="https://www.luc.edu/"><i class="fa fa-at"></i></a>
